nav {
    font-family: 'Bungee', cursive, sans-serif;
    height: 120px;
    background-color: #4056A1;
    color: #FFFFFF;
    width: 100%;
    padding: 1.5em;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconbtn {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
}

.iconbtn {
    animation-name: bounce-1;
    animation-timing-function: linear;
}

@keyframes iconbtn {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}