.formSubmit button {
    background-color: #4056A1;
    color: #FFFFFF;
    border: none;
}

.formSubmit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Bungee', cursive, sans-serif;
    margin-top: 5px;
}

#tweet-text {
    color: grey;
    border-width: 0 0 5px 0;
    border-style: solid;
    border-color: gray;
    resize: none;
    width: 100%;
    font-weight: 700;
    line-height: 15px;
    background: transparent;
    background-color: oldlace;
    padding: 10px;
    margin: .5em 0;
    display: inline;
}

.new-tweet form {
    padding: 20px;
    background-color: oldlace;
}

section h2 {
    border-bottom: 1px solid gray;
}

.charlimit {
    color: red;
}

.error-message {
    color: red;
}